[Unit]
Description=Gunicorn server for superlists-staging.perscloud.pp.ua

[Service]
Restart=on-failure
User=ja
WorkingDirectory=/home/ja/sites/superlists-staging.perscloud.pp.ua
EnviromentFile=/home/ja/sites/superlists-staging.perscloud.pp.ua/.env

ExecStart=/home/ja/sites/superlists-staging.perscloud.pp.ua/.venv/bin/gunicorn \
        --bind unix:/tmp/superlists-staging.perscloud.pp.ua.socket \
        superlists.wsgi:application

[Install]
WantedBy=multi-user.target
