[Unit]
Description=Gunicorn server for SITENAME

[Service]
Restart=on-failure
User=Ja
WorkingDirectory=/home/ja/sites/SITENAME/source
ExecStart=/home/ja/sites/SITENAME/virtualenv/bin/gunicorn --bind unix:/tmp/SITENAME.socket
superlists.wsgi:application

[Install]
WantedBy=multi-user.target
